
          @import url('https://fonts.googleapis.com/css?family=Sarabun:200,400,800');


          * , body{
                  margin: 0;
                  padding: 0;
                  font-family: Sarabun, Comic Sans;
                }
          body {
               background: linear-gradient(
                  to right,
                  rgba(153, 255, 51, 0.6),
                  rgba(153, 255, 51, 0.2)
                  ),
                   url("https://4.bp.blogspot.com/-LvOORkqAw5U/WeEEdLK6EfI/AAAAAAAAGHo/6-9KlrPi-a0_KKlla3QPhQ5GUnN3qCn3ACLcBGAs/s640/pexels-photo-533759.jpeg");
               background-size: cover;  
               color: #fff;       
          }
          header {    
             padding-top: 2rem;
             padding-left: 2.5rem;
             padding-bottom: 0.1rem;
          }
          .headerpral {    
             font-size: 55px;
          }
          h2 {    
             padding-top: 0.5rem;
             font-size: 25px;
             letter-spacing:1px;
          }
          section {    
             margin: 0;
             padding: 0;
          }
         article {   
          overflow: hidden;
          padding: 2rem;
          }

          #primerArticulo {   
           background: rgba(0, 0, 0, .9);
           font-size: 25px;
           padding-left: 0.5em;
           margin: 2rem;
           margin-top: 2rem;
           margin-bottom: 2rem;
          }
          #segundoArticulo {   
           background: rgba(0, 0, 0, .9);
           font-size: 25px;
           padding-left: 0.5em;
           margin: 2rem;        
          }
          h1 {
           font-size: 25px;
           padding-top: 1rem;  
          }
         .m-h1 {
           font-size: 30px;
           padding-top: 2rem;  
          }
          p {
           font-size: 20px;
           padding-top: 1rem;
           padding-right: 2em;
          }
          figcaption {
           font-size: 15px;
          }
          article figure {
           float: left;
           margin: 2rem;
           margin-right: 40px;
          } 